
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if loggedIn}}
    <a href="/dashbaord"></a>
    {{else}}
    <a href="/signup"></a>

{{/if}}
{{{body}}}
{{#if loggedIn}}
<script src="/Tech_blog/public/logout.js"
{{/if}}
</body>
</html>